@use '../variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: variables.$footerHeight;
    max-height: variables.$footerMaxHeight;
    padding: variables.$footerPadding;

    background: variables.$footerBackground;

    text-align: right;
    text-transform: uppercase;
    font-size: variables.$footerTextFontSize;
    letter-spacing: variables.$footerTextLetterSpacing;
}